.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1.0625rem;
  font-weight: 600;
  margin: 0.5rem 0 0.75rem;
  color: var(--primary-text-color);
}

.text {
  margin-bottom: 0.75rem;
  color: var(--primary-text-color);
}

.button {
  font-weight: 600;
  color: var(--primary-color);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.65;
}