:root {
  --primary-color: #6534FF;
  --secondary-color: #fff;
  --primary-text-color: #050510;
  --gray-text-color: #97979B;

  --search-bg-color: #F7F7F8;
  --search-placeholder-color: #C3C3C6;
  --default-icon-color: #C3C3C6;
  --loupe-icon-focus: #050510;

  --separator-color: #C3C3C6;

  --skeleton-card-background: linear-gradient(90deg, #F3F3F6, #FAFAFA);
  --user-card-bg-hover: #f1f1f1;
  --user-position-color: #55555C;
  --user-birthday-color: #55555C;

  --details-header-bg-color: #f7f7f8;
  --details-button-bg-color: #fff;
  --details-button-border-color: #050510;

  --modal-bg-color: #fff;
  --modal-close-icon-color: #C3C3C6;
  --modal-close-btn-color: #F7F7F8;
}