.card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.name {
  font-weight: 500;
  color: var(--primary-text-color);
}

.tag {
  font-size: 0.875rem;
  color: var(--gray-text-color);
  margin-left: 0.25rem;
}

.position {
  font-size: 0.8125rem;
  color: var(--user-position-color);
}