.header {
  padding: 1.5rem;
  background-color: var(--details-header-bg-color);
}

.controls {
  padding: 0.75rem 0;
  margin-bottom: 0.75rem;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--details-button-border-color);
  background-color: var(--details-button-bg-color);
  transition: all .2s ease-in-out;
}

.backButton:hover {
  transform: scale(1.075);
}

.backButton:active {
  opacity: 0.7;
}

.profileUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatarWrapper {
  width: 6.5rem;
  height: 6.5rem;
  margin-bottom: 1.5rem;
}

.avatarImage {
  width: 100%;
  height: 100%;
}

.mainInfo {
  margin-bottom: 0.75rem;
}

.userName {
  margin-right: 0.25rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.userTag {
  font-size: 1.0625rem;
  color: var(--gray-text-color);
}

.userPosition {
  font-size: 0.8125rem;
  color: var(--user-position-color);
}

.profileDetails {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 1rem;
  margin-top: 2rem;
}

.detailsGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--primary-text-color);
}

.userAge {
  font-weight: 500;
  color: var(--gray-text-color);
}