.tab {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  color: var(--gray-text-color);
  user-select: none;
  flex-shrink: 0;
  transition: opacity .2s ease-in-out;
}

.tab:not(.active):hover {
  opacity: 0.8;
}

.tab:not(.active):active {
  opacity: 0.6;
}

.active {
  cursor: default;
  font-weight: 600;
  color: var(--primary-text-color);
  border-bottom: 2px solid var(--primary-color);
  pointer-events: none;
}

.tab::before {
  display: block;
  content: attr(data-text);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}